@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#1E171E;
  padding: 10px 20px;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-left, .navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

.navbar-left span, .navbar-right span {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
  cursor: pointer;
  word-spacing: 0.5em;
}

.navbar-left span:hover, .navbar-right span:hover {
  text-decoration: underline;
}

.navbar-center {
  text-align: center;
}

.navbar-logo {
  height: 60px;
  object-fit: contain;
}

.navbar-left, .navbar-right {
  flex: 1;
}

.navbar-center {
  flex: 2;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .navbar-center {
    order: 1;
    margin-bottom: 10px;
  }

  .navbar-left, .navbar-right {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    order: 2;
  }

  .navbar-left span, .navbar-right span {
    font-size: 1rem; /* Mengurangi ukuran font pada layar kecil */
  }
}

@media (max-width: 480px) {
  .navbar-left, .navbar-right {
    gap: 10px; /* Kurangi jarak antar item pada layar sangat kecil */
  }

  .navbar-left span, .navbar-right span {
    font-size: 0.9rem; /* Ukuran font lebih kecil */
  }

  .navbar-logo {
    height: 50px; /* Ukuran logo lebih kecil */
  }
}
