.navbar {
  display: flex;
  justify-content: space-between; /* Menyebarkan konten kiri, tengah, dan kanan */
  align-items: center;
  background-color: hsl(300, 10%, 20%); /* 10% lebih terang dari warna asli */
  padding: 1zpx 20px;
  height: 80px; /* Tinggi navbar */
  width: 100%; /* Pastikan lebar penuh */
  position: fixed; /* Membuat navbar tetap di atas saat scroll */
  top: 0;
  left: 0;
  z-index: 1000; /* Menjaga navbar di atas elemen lain */
}

.navbar-left, .navbar-right {
  display: flex;
  justify-content: center; /* Untuk meratakan teks ke tengah */
  align-items: center;
  gap: 75px; /* Mengurangi jarak antar item */
}

.navbar-left span, .navbar-right span {
  color: white;
  font-size: 1.1rem; /* Ukuran font */
  text-decoration: none;
  cursor: pointer;
  word-spacing: 0.5em; /* Menambahkan jarak antar kata */
}

.navbar-left span:hover, .navbar-right span:hover {
  text-decoration: underline; /* Tambahkan efek hover */
}

.navbar-center {
  text-align: center;
}

.navbar-logo {
  height: 60px; /* Ukuran logo */
  object-fit: contain;
}

.navbar-left, .navbar-right {
  flex: 1; /* Membagi ruang kiri dan kanan */
}

.navbar-center {
  flex: 2; /* Memperbesar area tengah */
  display: flex;
  justify-content: center; /* Membuat logo di tengah */
  padding-left: 20px;  /* Memberikan jarak dari kiri */
  padding-right: 20px; /* Memberikan jarak dari kanan */
}
